{% extends 'base.html' %}
{% block title %}ЧекРез — Регистрация{% endblock %}
{% block content %}
<section class="panel">
  <h1>Регистрация</h1>
  {% if warning %}<p class="warn-text">{{ warning }}</p>{% endif %}
  <form method="post" class="form">
    <label>Username</label>
    <input type="text" name="username" required minlength="3" />
    <label>Email</label>
    <input type="email" name="email" required />
    <label>Пароль</label>
    <input type="password" name="password" required minlength="6" />
    <button class="btn" type="submit">Создать аккаунт</button>
  </form>
</section>
{% endblock %}
